# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
.env.*

# Database
*.db
*.sqlite3

# VS Code
.vscode/

# Alembic cache
alembic/__pycache__/
alembic/versions/__pycache__/
